@use "variables" as *;

window.wallpaper {
    .wallpapers {
        min-width: 450px;
        background-color: rgba($bg, .15);
        padding: 20px 20px 0px 20px;
        border-radius: $radius;
        border: $accent 3px solid;

        &>scrollable {
            min-height: 500px;
        }
    }

    .ItemName>box>button {
        font-size: 2rem;
        min-height: 50px;
        border-radius: $radius;
        border: $accent 3px solid;
        background-color: rgba($bg, .15);
        color: $fg;

        &:hover {
            background-color: rgba($bg, .35);
            color: adjust-color($fg, $lightness: 10%);
            border-color: adjust-color($accent, $lightness: -10%);
        }
    }

    .image {
        border-radius: 15px;
        padding: 10px;
        background-color: rgba($bg, .15);

        icon {
            font-size: 25rem;
        }
    }
}