@use "sass:color";
$bg: rgb(180,190,254);
$fg: rgba(205,214,244,1);
$accent: rgb(180,190,254);
$grey: rgb(108, 112, 134);
$radius: 0.8em;
$rounded: 999px;

* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    opacity: 0.98;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

window.Bar {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;
    transition: 200ms ease-in-out;
    font-family: "JetBrainsMono Nerd Font";
    margin: 0;
    padding: 0;
    border-radius: 0;

    .StartButton {
        font-size: 20px;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 15px;
        margin-right: 25px;
        background-color: rgba($bg, .15);
        border-bottom-right-radius: $radius;
    }

    .Workspaces {
        
        background-color: rgba($bg, .15);
        border-radius: $rounded;

        button {
            background-color: transparent;
            border-radius: $rounded;
            padding-left: 8px;
            padding-right: 8px;
        }

        button:hover {
            background-color: rgba($bg, .15);
        }

        button label {
            padding-top: 2px;
            color: $grey;
        }

        .occupied label {
            color: $fg;
        }

        .active {
            background-color: rgba($bg, .15);

            label {
                color: $accent;
            }
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Time {
        background-color: rgba($bg, .15);
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        padding: 0 0.8em;
    }

    .Study {
        background-color: rgba($bg, .15);
        border-radius: $rounded;
        margin-left: 1em;
        padding: 0 0.5em;
    }

    .Right {
        background-color: rgba($bg, .15);
        border-bottom-left-radius: $rounded;
        border-top-left-radius: $rounded;
    }

    .Media {
        padding-left: 0.8em;
        background-color: transparent;

        .Cover {
            margin-left: 0.2em;
            margin-top: 2px;
            min-height: 1.2em;
            min-width: 1.2em;
            background-position: center;
            background-size: contain;
        }
    }

    .Audio {
        padding-left: 0.8em;
        background-color: transparent;
    }

    .Wifi {
        padding-left: 0.8em;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .SysTray {
        padding-left: 0.8em;

        .TrayItem {
            all: unset;
            background-color: transparent;
            min-width: 1em;
            min-height: 1em;
            padding: 0.2em;
        }
    }
}