window.applauncher {
    background: transparent;
}

.applauncher-window {
    margin: 0px;
    padding: 10px;
    border: 3px solid #89b4fa;
    border-radius: 7px;
    background-color: #24273a;
}

.app-icon {
    background-color: #24273a;
    padding: 5px;
}

.app {
    background-color: #24273a;
    border: 3px solid #89b4fa;
    border-radius: 7px;
}

.app-title {
    background-color: #24273a;
    color: #89b4fa;
}