window.bar {
    background: transparent;
}

* {
    border: none;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    min-height: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    opacity: 0.98;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

.workspaces {
    font-size: 18px;
    background-color: rgba(108, 112, 134, 0.3);
    border-radius: 50px;
}

.ws-button {
    padding-left: 6px;
    padding-right: 9px;
    border-radius: 50px;
    background: transparent;
}

.ws-button.empty {
    color: #6c7086;
}

.ws-button.occupied {
    color: #cdd6f4;
}

.ws-button.active {
    color: #b4befe;
    background-color: #b4befe4d;
}

.album-cover {
    min-width: 20px;
    min-height: 20px;
    margin-left: 5px;
    background-size: cover;
    background-position: center;
}

.clock,
.tray,
.start-button,
.media,
.battery,
.volume-label,
.volume-icon {
    font-size: 15px;
    color: #cdd6f4;
}

.tray,
.media,
.volume,
.tray-items {
    border-radius: 50px;
}

.tray {
    padding-right: 9px;
}

.tray-items {
    padding-left: 5px;
    padding-right: 5px;
}

.clock {
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(108, 112, 134, 0.3);
}

.start-button {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 15px;
    margin-right: 25px;
    background-color: rgba(108, 112, 134, 0.3);
    border-bottom-right-radius: 15px;
}

.notification {
    color: #cdd6f4;
}

.left {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.Right {
    background-color: rgba(108, 112, 134, 0.3);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.volume-label,
.volume-icon,
.tray,
.battery,
.tray-items {
    background: transparent;
}

.volume {
    background: transparent;
    padding-left: 9px;
    padding-right: 9px;
}

.media {
    background: transparent;
    padding-left: 15px;
    padding-right: 9px;
}

window.bar>button:focus,
window.bar>button:active,
window.bar>button:hover {
    background: transparent;
}

.battery,
.battery-icon {
    margin-right: 7px;
}

window.bar>levelbar block,
window.bar>highlight {
    min-height: 10px;
}

.start-button-with-dashboard-open {
    color: rgba(108, 112, 134, 0.75);
    background-color: #cdd6f4;
}

.study {
    padding: 0px 10px;
    color: #cdd6f4;
}

.study-button {
    border-radius: 50px;
    background-color: rgba(108, 112, 134, 0.3);
}

.study-button:hover {
    background-color: rgba(108, 112, 134, 0.5);
}