.dashboard-window {
    /* background-color: rgba(108, 112, 134, 0.3); */
}

.dashboard-menu {
    background-color: rgba(34,36,42,0.8);
}

.dashboard-menu-label {
    margin: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #cdd6f4;
    padding-bottom: 20px;
    border-bottom: 10px rgba(108, 112, 134, 0.3) solid;
}

.dashboard-menu-item {
    margin: 20px;
    font-weight: bold;
    font-size: 25px;
}

.dashboard-button {
    background-color: transparent;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.dashboard-button:hover {
    background-color: rgba(108, 112, 134, 0.3);
}

.dashboard-button:focus {
    background-color: rgba(108, 112, 134, 0.5);
}

.dashboard-home, 
.dashboard-tasks,
.dashboard-journal,
.dashboard-budget,
.dashboard-events,
.dashboard-goals, 
.dashboard-life {
    background-color: rgba(108, 112, 134, 0.3);
}

.dashboard-home-label,
.dashboard-tasks-label,
.dashboard-journal-label,
.dashboard-budget-label,
.dashboard-events-label,
.dashboard-goals-label,
.dashboard-life-label {
    margin: 20px;
    font-weight: bold;
    font-size: 50px;
}

.even-scroll {
    background-color: rgba(0, 0, 0, 0.5);
}

.odd-scroll {
    background-color: rgba(43, 43, 43, 0.5);
}

.tasks-entry {
    /* background-color: rgba(0, 0, 0, 0.2); */
    font-size: larger;
    margin: 20px 0px;
}

.task-refresh {
    padding: 0px 20px;
    border-top-right-radius: 500px;
    background-color: transparent;
    border-bottom-right-radius: 500px;
}

.task-label {
    margin: 20px;
    font-weight: bold;
    background-color: transparent;
    font-size: 25px;
}

.tasks-scroll {
    min-width: 500px;
    min-height: 500px;
}

.task-edit {
    padding: 0px 5px;
    border-top-right-radius: 500px;
    background-color: transparent;
    border-bottom-right-radius: 500px;
}

.task-delete {
    padding: 0px 10px;
    border-top-left-radius: 500px;
    background-color: transparent;
    border-bottom-left-radius: 500px;
}

.task-edit-label,
.task-delete-label,
.task-refresh {
    font-weight: bold;
    font-size: 30px;
    background-color: transparent;
}

.task-edit:hover,
.task-delete:hover,
.task-refresh:hover,
.task-up:hover,
.task-down:hover {
    background-color: rgba(108, 112, 134, 0.3);
}

.task-edit:focus,
.task-delete:focus,
.task-refresh:focus,
.task-up:focus,
.task-down:focus {
    background-color: rgba(108, 112, 134, 0.5);
}

.task-up,
.task-down {
    padding: 0px;
    font-size: 30px;
    background-color: transparent;
}

.task-up {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.task-down {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.task-up-disabled,
.task-down-disabled {
    opacity: 0.5;
}

.goals-edit-mode {
    padding: 5px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.goals-label {
    font-size: 40px;
}

.goals-refresh {
    font-size: 30px;
    padding: 5px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.goals-entry,
.journal-entry {
    min-width: 500px;
    background-color: rgba(108, 112, 134, 0.5);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
}

.journal-entry-label {
    font-size: 40px;
    font-weight: bold;
}

.git-square {
    min-width: 10px;
    min-height: 10px;
    margin: 2px;
    border-radius: 1px;
}

.git-list {
    background-color: rgba(108, 112, 134, 0.5);
}

.git-no-contributions {
    background-color: rgb(255, 0, 0);
}

.git-contribution-1 {
    background-color: rgb(0, 255, 0);
}

.git-loading {
    background-color: rgb(255, 255, 0);
}