/* .gemini-ui-window {
    background-color: #24273a;
}

.message {
    border-color: #89b4fa;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

.left-message {
    background-color: #24273a;
    color: #89b4fa;
    border-bottom-left-radius: 0px;
    margin-right: 30px;
}

.right-message {
    background-color: #89b4fa;
    color: #24273a;
    border-bottom-right-radius: 0px;
    margin-left: 30px;
} */

/* light mode */

.gemini-ui-window {
    background-color: transparent;
}

.message {
    /* border-color: rgba(137,180,250,0.1);
    border-radius: 10px;
    border-width: 3px;
    border-style: solid; */
    padding: 5px;
    margin: 12px;
}

.left-message {
    color: rgba(137,180,250,1);
    border-bottom-left-radius: 0px;
    margin-right: 30px;
}

.right-message {
    color: rgba(137, 180, 250, 1);
    border-bottom-right-radius: 0px;
    margin-left: 30px;
}

.gemini-entry {
    background-color: rgba(6,13,19,0.02);
    color: rgba(106, 106, 106, 0.1);
}

.gemini-reset-button {
    background-color: transparent;
}

.gemini-reset-button-label {
    color: rgba(191, 195, 221, 0.1);
}